html, body {
    width:  100%;
    margin: 0;
  }

body {
    background: #eaf9f7;
    font-family: 'open sans', helvetica, sans-serif;
}

.container {
    display: flex;
    background: rgba(75, 95, 93, 0.5);
}

.container-item {
    width: 25%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 125%;
}

.container-item:hover {
    background: rgba(75, 95, 93, 1);
}
   
canvas {
    background-attachment: fixed;
    max-width: 100%;
    max-height: 200%;
    z-index: -1;
    position: absolute;
}

.nameblock {
    background-color: rgba(75, 95, 93, 0.5);
    position: relative;
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    font-size: 375%;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    text-align: center;
    color: #222;
}

.description {
    background-color: rgba(75, 95, 93, 0.5);
    position: relative;
    width: 94%;
    color: #FFFFFF;
    font-size: 175%;
    text-align: center;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.publications {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 70%;
    color: #000;
    z-index: -1;
    text-align: center;
}

.img-container {
    display: flex;
}

/* Style the image and text to take up 50% of the screen each */
.image, .text-box {
    flex: 1;
}

/* Add some basic styling for better visualization */
.image img {
    max-width: 95%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.text-box {
    background-color: rgb(242, 242, 242, 0.5);
    margin: 10px;
    padding: 10px;
    width: 95%;
    font-size: 150%;
}
