#title {
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgba(195, 233, 235, 1), rgba(195, 233, 235, 0));
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas{
    background-color: azure;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}